:root {
    --button-font-size: 3em;
    --button-size: 1em;
    --button-width: .3em;

    --input-font-size: 1.5em;
    --input-size: 1em;
}

/* General Buttons */
.bits-btn {
    height: 0px;
    display: flex;
    align-items: center;
    font-size: var(--button-font-size);
    cursor: pointer;
    line-height: 0;
    border: calc(var(--button-size) - 1px) solid;
}

.bits-btn span{
    padding: var(--button-size) var(--button-width);
    background-origin: padding-box;
    background-clip: border-box;
}

/* Color Buttons */
.bits-btn.flat-green {
    border-image: url('../assets/img/bits/border-flat-green.svg') 49.9% stretch;
}

.bits-btn.flat-red {
    animation: wrong .3s linear 3;
    border-image: url('../assets/img/bits/border-flat-red.svg') 49.9% stretch;
}

.bits-btn.yellow {
    border-image: url('../assets/img/bits/border-yellow.svg') 50% stretch;
}

.bits-btn.yellow span{
    background-image: url('../assets/img/bits/button-yellow.svg');
    background-size: contain;
}

/* Inputs */
.bits-input {
    font-size: var(--input-font-size);

    border: var(--input-size) solid transparent;
    border-radius: calc(var(--input-font-size) * 2);
    border-image: url('../assets/img/bits/border-input.svg') 40% stretch;
}

@keyframes wrong {
    0% {
        transform: translateX(0);
    }
    
    25% {
        transform: translateX(30px);
    }

    75% {
        transform: translateX(-30px);
    }
    
    100%{
        transform: translateX(0);
        border-image: url('../assets/img/bits/border-flat-red.svg') 49.9% stretch;
    }
}