.emoji h3 {
    width: 85vw;
}

.emoji .question img {
    width: 85vw;
}

.emoji .choices {
    width: calc(85vw - (var(--button-size) * 5));
}

.emoji .bits-btn {
    transition: all .5s;
}
