.finish-container {
    height: 70%;
    width: 100vw;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#finish h3 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}