.question {
    height: 95vh;
    justify-content: center;
    z-index: 2;
}

.question h3 {
    margin-top: 2em;
    margin-bottom: .5em;

    transition: opacity .5s;
}

.question .text-reason {
    margin-top: .5em;
}

.question .show {
    opacity: 1;
}

.question .hidden {
    opacity: 0;
}
